USE [master]
GO

IF DB_ID(N'ObuvDB') IS NULL
BEGIN
    CREATE DATABASE [ObuvDB];
END
GO

ALTER AUTHORIZATION ON DATABASE::[ObuvDB] TO [sa];
GO

USE [ObuvDB]
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[ManufacturerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderActicle] [nvarchar](100) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PickupPointId] [int] NOT NULL,
	[ClientFullName] [nchar](200) NULL,
	[Code] [int] NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoints]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoints](
	[PickupPointsId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_PickupPoints] PRIMARY KEY CLUSTERED 
(
	[PickupPointsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ManufactureName] [nvarchar](100) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Discount] [int] NOT NULL,
	[StockQty] [int] NOT NULL,
	[Discription] [nvarchar](max) NOT NULL,
	[PhotoPath] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Priducts] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.04.2026 2:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryName]) VALUES (N'Женская обувь')
INSERT [dbo].[Categories] ([CategoryName]) VALUES (N'Мужская обувь')
GO
INSERT [dbo].[Manufacturers] ([ManufacturerName]) VALUES (N'Alessio Nesca')
INSERT [dbo].[Manufacturers] ([ManufacturerName]) VALUES (N'CROSBY')
INSERT [dbo].[Manufacturers] ([ManufacturerName]) VALUES (N'Kari')
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderActicle], [OrderDate], [DeliveryDate], [PickupPointId], [ClientFullName], [Code], [StatusName]) VALUES (1, N'А112Т4, 2, F635R4, 2', CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, N'Степанов Михаил Артёмович                                                                                                                                                                               ', 901, N'Новый ')
INSERT [dbo].[Orders] ([OrderId], [OrderActicle], [OrderDate], [DeliveryDate], [PickupPointId], [ClientFullName], [Code], [StatusName]) VALUES (2, N'H782T5, 1, G783F5, 1', CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, N'Никифорова Весения Николаевна                                                                                                                                                                           ', 902, N'Завершен')
INSERT [dbo].[Orders] ([OrderId], [OrderActicle], [OrderDate], [DeliveryDate], [PickupPointId], [ClientFullName], [Code], [StatusName]) VALUES (3, N'J384T6, 10, D572U8, 10', CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, N'Сазонов Руслан Германович                                                                                                                                                                               ', 903, N'Завершен')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrderStatuses] ([StatusName]) VALUES (N'Завершен')
INSERT [dbo].[OrderStatuses] ([StatusName]) VALUES (N'Новый ')
GO
SET IDENTITY_INSERT [dbo].[PickupPoints] ON 

INSERT [dbo].[PickupPoints] ([PickupPointsId], [Address]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickupPoints] ([PickupPointsId], [Address]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickupPoints] ([PickupPointsId], [Address]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[PickupPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Article], [ProductName], [UnitName], [Price], [SupplierName], [ManufactureName], [CategoryName], [Discount], [StockQty], [Discription], [PhotoPath]) VALUES (1, N'А112Т4', N'Ботинки', N'шт.', CAST(4990.00 AS Decimal(18, 2)), N'Kari', N'Kari', N'Женская обувь', 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Products] ([ProductId], [Article], [ProductName], [UnitName], [Price], [SupplierName], [ManufactureName], [CategoryName], [Discount], [StockQty], [Discription], [PhotoPath]) VALUES (2, N'F635R4', N'Ботинки', N'шт.', CAST(3244.00 AS Decimal(18, 2)), N'Обувь для вас', N'Marco Tozzi', N'Женская обувь', 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Products] ([ProductId], [Article], [ProductName], [UnitName], [Price], [SupplierName], [ManufactureName], [CategoryName], [Discount], [StockQty], [Discription], [PhotoPath]) VALUES (3, N'H782T5', N'Туфли', N'шт.', CAST(4499.00 AS Decimal(18, 2)), N'Kari', N'Kari', N'Мужская обувь', 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Roles] ([RoleName]) VALUES (N'Авторизированный клиент')
INSERT [dbo].[Roles] ([RoleName]) VALUES (N'Администратор')
INSERT [dbo].[Roles] ([RoleName]) VALUES (N'Менеджер')
GO
INSERT [dbo].[Suppliers] ([SupplierName]) VALUES (N'Kari')
INSERT [dbo].[Suppliers] ([SupplierName]) VALUES (N'Обувь для вас')
GO
INSERT [dbo].[Units] ([UnitName]) VALUES (N'шт.')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleName]) VALUES (31, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67', N'Администратор')
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleName]) VALUES (32, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG', N'Администратор')
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [RoleName]) VALUES (33, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ', N'Администратор')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Priducts] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Priducts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([StatusName])
REFERENCES [dbo].[OrderStatuses] ([StatusName])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickupPoints] FOREIGN KEY([PickupPointId])
REFERENCES [dbo].[PickupPoints] ([PickupPointsId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickupPoints]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Priducts_Categories] FOREIGN KEY([CategoryName])
REFERENCES [dbo].[Categories] ([CategoryName])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Priducts_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Priducts_Manufacturers] FOREIGN KEY([ManufactureName])
REFERENCES [dbo].[Manufacturers] ([ManufacturerName])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Priducts_Manufacturers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Priducts_Suppliers] FOREIGN KEY([SupplierName])
REFERENCES [dbo].[Suppliers] ([SupplierName])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Priducts_Suppliers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Priducts_Units] FOREIGN KEY([UnitName])
REFERENCES [dbo].[Units] ([UnitName])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Priducts_Units]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleName])
REFERENCES [dbo].[Roles] ([RoleName])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
